[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests2 = "*"
lxml = "*"
bs4 = "*"
selenium = "*"
tabulate = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
